
#
# ._____ _____ ____  _____ _____ _____ 
# |     |   __|    \|__   |   __|   __|
# |   --|   __|  |  |   __|   __|   __|
# |_____|_____|____/|_____|_____|_____|
# ._____ _____ _____ _ _ _ _____ _____ _____
# | __  | __  |     | | | |   __|   __| __  |
# | __ -|    -|  |  | | | |__   |   __|    -|
# |_____|__|__|_____|_____|_____|_____|__|__|
# [CEDZEEDEV 2024-2025]
# <https://github.com/cedzeedev/cedzeebrowser>
#

# IDE

.vscode/
.idea/

# TMP

bin/
lib/
min/
tmp/
build_win/
build/

__pycache__/

browser_data/

# ENV

env/
.env/

# BIN

*.a
*.o
*.bin
*.exe
*.res

# HISTORY

history.csv

# CONFIG

resources/config/
resources/saves/

version_online.json
resources/config.json
resources/config/
resources/saves/favorites.json
resources/saves/download_history.json

# LOG

*.log
