#
#  _____ _____ ____  _____ _____ _____    _____ _____ _____ _ _ _ _____ _____ _____ 
# |     |   __|    \|__   |   __|   __|  | __  | __  |     | | | |   __|   __| __  |
# |   --|   __|  |  |   __|   __|   __|  | __ -|    -|  |  | | | |__   |   __|    -|
# |_____|_____|____/|_____|_____|_____|  |_____|__|__|_____|_____|_____|_____|__|__|
# CEDZEEDEV 2024-2025 <https://github.com/cedzeedev/cedzeebrowser/>
#

# IDE

.vscode/
.idea/

# TMP

bin/
lib/
min/
tmp/

# ENV

env/
.env/

# BIN

*.a
*.o
*.bin
*.exe
*.res

# HISTORY
history.csv

# __pycache__
__pycache__/
# browser_data
browser_data/

# Config
resources/config/

version_online.json
resources/config.json
resources/config/
